@page "/credits"

@using Microsoft.Extensions.Localization

@inject IStringLocalizer<Texts> Localizer

<div class="card pt-5 pb-5">
	<div class="card-body text-center">
		<h2 class="display-3">@this.Localizer["Credits"]</h2>
	</div>
</div>
<div class="container-fluid p-auto pt-5 pb-5">
	<div class="card p-auto">
		<div class="card-header text-center">
			@this.Localizer["FrameworkCredits"]
		</div>
		<div class="card-body text-center">
			<p class="card-title"><a href="@this.Localizer["AzureLink"]">@this.Localizer["Azure"]</a></p>
			<p class="card-title"><a href="@this.Localizer["BootstrapLink"]">@this.Localizer["Bootstrap"]</a></p>
			<p class="card-title"><a href="@this.Localizer["BlazorWebAssemblyLink"]">@this.Localizer["BlazorWebAssembly"]</a></p>
			<p class="card-title"><a href="@this.Localizer["GoogleFontsLink"]">@this.Localizer["GoogleFonts"]</a></p>
		</div>
	</div>
</div>